[package]
name = "meridian-common"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = []
user = ["aya"]

[dependencies]
aya = { workspace = true, optional = true }

[lib]
path = "src/lib.rs"
